NEXT_PUBLIC_SUPABASE_URL=https://htjnhhqokabiqspnnpdw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_NGz9GvBXMXcgewJKYE9p1A_LtnmctMo
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51T7PueGTrYEImGf8A6hp5Epoe8H2CQfB8RjYcLEjqiiLI6m9pUozhV3Q373oNnAXawRtJ5hnFAdm1MwAmUr5qw9w00r1kxiYdK
